yoyoc
faux-rogue
globdemo
test_yoyo_parse_command_line
test_process_looks_hung
test_monitor_child_for_hang

###################
# backup files
###################
*.bak
*.bck
*cache.lib
$*
*.swp
*.000
*~

################
# Output files
################
*.o
*.so
*.so.*
*.a
*.bin
*.d
*.la
*.lo
*.log
*.trs
*.tar.*
*.gch
*.gcda
*.gcno
tmp*
coverage.info
coverage_html
